<!--<app-fetch-data></app-fetch-data>-->

<label for="city">Adjusted Price Per Unit: </label>
<input type="text" id="adjustedPPU" [(ngModel)]="adjustedPPU" required/>
<input type="button" value="Submit" (click)="setAdjustedPPU(adjustedPPU)" />
<h1>Trade History</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Source Currency</th>
      <th>Destination Currency</th>
      <th>Amount Currency</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of TradeBank">
      <td>{{record.id}}</td>
      <td>{{record.sourceCurrency}}</td>
      <td>{{record.destinationCurrency}}</td>
      <td>{{record.amount}}</td>
      <td>{{record.status}}</td>
    </tr>
  </tbody>
</table>
