<!--<app-fetch-data></app-fetch-data>-->

<label for="city">Minimum Accepted PPU: </label>
<input type="text" id="adjustedPPU" [(ngModel)]="adjustedPPU"/>
<input type="button" value="Submit" (click)="setAdjustedPPU(adjustedPPU)" />

<h1>Trade History</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Payment Currency</th>
      <th>Requested Currency</th>
      <th>Requested Amount</th>
      <th>PPU</th>
      <th>Trade Status</th>
    </tr>
  </thead>
  <!--<tbody>
    <tr *ngFor="let record of TradeBank">
      <td>{{record.id}}</td>
      <td>{{record.sourceCurrency}}</td>
      <td>{{record.destinationCurrency}}</td>
      <td>{{record.amount}}</td>
      <td>{{record.status}}</td>
    </tr>
  </tbody>-->
    <tr *ngFor="let record of TradeBank">
      <td>{{record.trade_id}}</td>
      <td>{{record.payment_currency}}</td>p
      <td>{{record.requested_currency}}</td>
      <td>{{record.requested_amount}}</td>
      <td>{{record.ppu}}</td>
      <td>{{record.trade_status}}</td>
    </tr>

</table>
